{% extends 'base.html' %}
{% block content %}
    <h1>Immersion-journal</h1>
    <p>Immersion simply implies consistent exposure to your target language.<br>You can put immersion in two categories:<br>
        1. Active immersion - when you are 100% focus on content <br>
        2. Passive immersion - listening you to your target language while doing other stuff like laundry </p>
    <table id="id_journal_table" class="table">
        <tr>
            <th>Category</th>
            <th>Time</th>
        </tr>
        <tr>
            <td>Active</td>
            <td>{{ active.hours }}:{{ active.minutes }}</td>
        </tr>
        <tr>
            <td>Passive</td>
            <td>{{ passive.hours }}:{{ passive.minutes }}</td>
        </tr>
    </table>
{% endblock %}