{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% block content %}
    <h1>Immersion-journal</h1>
    <p>Immersion simply implies consistent exposure to your target language.<br>You can put immersion in two categories:<br>
        1. Active immersion - when you are 100% focus on content <br>
        2. Passive immersion - listening you to your target language while doing other stuff like laundry </p>
    <form method="POST">
        {{ form|crispy }}
        <button id="id_submit">Submit</button>
        </button>
        {% csrf_token %}
    </form>
    <form action="{% url 'delete' user.get_username %}">
        <button id="id_delete_last" onclick="confirm('this action can\'t be reverted are you sure')">Delete Last
        </button>
    </form>
    <table id="id_journal_table" class="table">
        <tr>
            <th>Category</th>
            <th>Time</th>
        </tr>
        <tr>
            <td>Active</td>
            <td>{{ active.hours }}:{{ active.minutes }}</td>
        </tr>
        <tr>
            <td>Passive</td>
            <td>{{ passive.hours }}:{{ passive.minutes }}</td>
        </tr>
    </table>
{% endblock %}